<div class="one-pin-page" id="page">
    <div class="one-pin__box-1">
        <img class="one-pin__box-1__pin" src="{{media_url}}" id="pin-{{flow_id}}" alt="{{description}}">
        {{#if mobile}}
            {{#if own}}
                <div class="one-pin__edit-button" id="edit-pin">
                    <img src="/public/icons/edit.svg" alt="edit pin">
                </div>
            {{/if}}
        {{/if}}
    </div>
    <div class="one-pin__box-2">
        {{#if hasText}}
            <div class="one-pin__box-2__text-area">
                <div class="one-pin-header">{{header}}</div>
                {{#if is_nsfw}}
                <div class="pin__nsfw-warning">
                    <img src="/public/icons/error.svg" alt="Warning">
                    <span>Осторожно, возможен нецензурный контент</span>
                </div>
                {{/if}}
                <div class="one-pin-description">{{description}}</div>
            </div>
        {{/if}}
        <div class="one-pin__author-area">
            <div class="one-pin__author-area__pfp">
                {{#if author_pfp}}
                    <img src="{{author_pfp}}" alt="author profile picture">
                {{else}}
                    <p class="one-pin__short-username">{{shortUsername}}</p>
                {{/if}}
            </div>
            <div>
                <p class="one-pin__author-area__username">{{username}}</p>
                <p class="one-pin__author-area__tag">@{{author}}</p>
            </div>
        </div>
        {{#if authorized}}
            <div class="one-pin__buttons">
                <div class="one-pin__buttons__box-1">
                    <div class="one-pin__buttons__button">
                        <img
                                id="like"
                                src="/public/icons/like{{#if is_liked}}-filled{{/if}}.svg"
                                class="like{{#if is_liked}}_active{{/if}}"
                                alt="like button"
                        >
                        <p id="like-count">{{like_count}}</p>
                    </div>
                    <div class="one-pin__buttons__button">
                        <img
                                id="share"
                                src="/public/icons/link.svg"
                                alt="share button"
                        >
                    </div>
                </div>
                <div class="one-pin__buttons__box-2">
                    {{#if own}}
                        {{#unless mobile}}
                            <div class="one-pin__edit-button" id="edit-pin">
                                <img src="/public/icons/edit.svg" alt="edit pin">
                            </div>
                        {{/unless}}
                    {{/if}}
                    <div class="one-pin__save-block">
                        <div class="one-pin__dropdown-block" id="dropdown-button">
                            <div class="pin__dropdown-board">{{boardToSave}}</div>
                            <img src="/public/icons/arrow-down.svg" class="dropdown-icon" alt="">
                        </div>
                        <button class="save-button">Сохранить</button>
                    </div>
                </div>
            </div>

            <div id="comments-container">
            </div>
        {{else}}
            <p class="unauth-message">Авторизуйтесь, чтобы посмотреть комментарии к этому flow</p>
        {{/if}}
    </div>
</div>
