<div class="new-pin-page" id="page">
    <div class="new-pin-form">
        {{#if edit}}
            <div>
                <img class="edit-pin__image" src="{{url}}" alt="{{description}}">
            </div>
        {{/if}}
        <div class="description-box">
            <div>
                <h1 class="header">{{header}}</h1>
                <form class="description-box_form" id="description-box_form">
                    <div class="input-placeholder"></div>
                </form>
                <label class="input-field-label" for="about">Описание</label>
                <textarea
                        class="about-textarea"
                        name="Описание"
                        id="about"
                        cols="30"
                        rows="10"
                        maxlength="512"
                >{{#if edit}}{{description}}{{/if}}</textarea>
                <div class="toggle-area">
                    <div class="toggle-placeholder"></div>
                    <p>Сделать flow приватным</p>
                </div>
            </div>
            {{#if edit}}
                <div class="delete-pin-button" id="delete-pin-button">
                    <img src="/public/icons/delete.svg" alt="delete flow">
                    <div>Удалить flow</div>
                </div>
            {{/if}}
            <button class="create-pin-button" id="create-pin-button">
                {{#if create}}
                    Создать flow
                {{else}}
                    Изменить flow
                {{/if}}
            </button>
        </div>
    </div>
</div>

