<div class="{{page}}-page">
    <div class="background">
        <img src="/public/img/logo.png" class="page-logo" alt="site logo">
        <img src="/public/img/line-1.png" class="background-vector" aria-hidden="true" alt="">
        <div class="picture-box"></div>
    </div>
    <div class="{{page}}-container">
        <div class="{{page}}-box-1">
            <h1 class="auth-page-header">{{header}}</h1>
            <label class="subheader">{{subheader}}</label>

            <form class="{{page}}-form" novalidate>
                {{#each inputs}}
                    <div class="input-placeholder"></div>
                {{/each}}

                <button type="submit" class="auth-page-button" disabled="disabled">{{submitBtn}}</button>
                <div class="VKID-wrapper">
                    <div id="VkIdSdkOneTap"></div>
                </div>

                <div class="{{page}}-redirect">
                    {{redirectText}}
                    <a class="label bold redirect">{{redirectBtn}}</a>
                </div>
            </form>
        </div>
    </div>
</div>