{{#unless mobile}}
    <button
            class="{{#if mobile}}sidebar-button{{else}}go-back-button{{/if}}"
        id="go-back-button"
        aria-label="go back"
>
    <img
            src="/public/icons/arrow-left.svg"
            alt="go back"
            class="sidebar-button__icon"
    >
    </button>
{{/unless}}
<div class="sidebar__button-container">
    {{#each buttons}}
        <button
                class="sidebar-button {{this.class}}"
            id="{{this.id}}"
            aria-label="{{this.alt}}"
        >
            <img
                src="{{this.source}}"
                alt="{{this.alt}}"
            />
        </button>
    {{/each}}
</div>
