<div class="input-container">
    <label class="input-field-label" for="{{id}}">
        {{inputLabel}}
        {{#if required}}<span class="required">*</span>{{/if}}
    </label>

    <div class="input{{#if transparent}}Transparent{{/if}}">
        <input type="{{type}}"
               class="input{{#if transparent}}Transparent{{/if}}__field"
               id="{{id}}"
               maxlength="{{maxlength}}"
               {{#if autocomplete}} autocomplete="{{autocomplete}}" {{/if}}
        >
        {{#if isPassword}}
            <img src="/public/icons/eye-off.svg" class="input__toggle-password"
                 alt="Показать пароль" data-password-toggle id="{{id}}-eye"
            >
        {{/if}}
        <img
                src="/public/icons/error.svg"
                class="input__error hidden"
                aria-hidden="true"
                alt=""
                id="{{id}}-error-icon"
        >
    </div>

    <p class="error-message error-label hidden" id="{{id}}-error">
        {{errorMessage}}
    </p>
</div>