<div class="profile-page">
    <div class="profile">
        <div class="author-area">
            <div class="author-area__box-1">
                <div class="header white bold">
                    {{header}}
                </div>
                <div class="box-1__menu">
                    <div id="tabBar" class="tab-bar-placeholder"></div>
                    <div class="create-board{{#unless showCreateBoardButton}} hidden{{/unless}}">
                            <img src="/public/icons/new-pin.svg" alt="create new board">
                            <div class="label">
                                создать доску
                            </div>
                        </div>
                    {{#if own}}
                        <button class="author__subscriptions-button" id="subscriptions-button">
                            <img src="/public/icons/followers.svg" alt="subscriptions">
                            <span>Подписки</span>
                        </button>
                    {{/if}}
                </div>
            </div>
            {{#unless own}}
            <div class="author-area__box-2">
                <div class="author-area__box-2">
                    <div class="author__profile-picture">
                        {{#if author_pfp}}
                            <img src="{{author_pfp}}" alt="profile picture" class="author__profile-picture">
                        {{else}}
                            <p class="bold header">{{shortUsername}}</p>
                        {{/if}}
                    </div>
                    <div class="author__name">
                        <p class="bold label">@{{username}}</p>
                    </div>
                    <button class="author__subscribe-button" id="subscribe-{{username}}">
                        <span>Подписаться</span>
                    </button>
                </div>
            </div>
            {{/unless}}
        </div>
        <div id="feed" class="profile__feed">
            {{#if userBio}}
            <div class="user-bio profile-bio-card">{{userBio}}</div>
            {{/if}}
        </div>
    </div>
</div>
