<div>
<div class="user-card__username-block">
    <div class="user-card__avatar">
        {{#if avatar}}
            <img
                    src="{{avatar}}"
                    alt="{{username}} profile picture"
            >
        {{else}}
            <p class="short-username">{{shortUsername}}</p>
        {{/if}}
    </div>
    <div class="user-card__info">
        <div class="user-card__username">{{username}}</div>
        <div class="user-card__subscribers" id="{{username}}-subscribers">{{subscribers}}</div>
    </div>
</div>
<div class="user-card__about">{{about}}</div>
</div>
{{#unless own}}
    <div class="user-card__buttons">
        <button class="user-card__subscribe-button {{#if isSubscribed}}subscribed{{/if}}" id="subscribe-{{username}}">
            {{#if isSubscribed}}
                Отписаться
            {{else}}
                Подписаться
            {{/if}}
        </button>
        {{#if isAuthenticated}}
            <button class="user-card__chat-button" id="chat-{{username}}">
                <img src="/public/icons/chat.svg" alt="Чат">
            </button>
        {{/if}}
    </div>
{{/unless}}