<div>
<div class="user-card__username-block">
    <div class="user-card__avatar">
        {{#if avatar}}
            <img
                    src="{{avatar}}"
                    alt="{{username}} profile picture"
            >
        {{else}}
            <p class="short-username">{{shortUsername}}</p>
        {{/if}}
    </div>
    <div class="user-card__info">
        <div class="user-card__username">{{username}}</div>
        <div class="user-card__subscribers" id="{{username}}-subscribers">{{subscribers}}</div>
    </div>
    <button class="user-card__chat-button">
        <img src="/public/icons/chat.svg" alt="Chat">
    </button>
</div>
<div class="user-card__about">{{about}}</div>
</div>
{{#unless own}}
<button class="user-card__subscribe-button {{#if isSubscribed}}subscribed{{/if}}" id="subscribe-{{username}}">
    {{#if isSubscribed}}
        Отписаться
    {{else}}
        Подписаться
    {{/if}}
</button>
{{/unless}}