<div class="user-card__username-block">
    <div class="user-card__avatar">
        {{#if avatar}}
            <img
                    src="{{avatar}}"
                    alt="{{username}} profile picture"
            >
        {{else}}
            <p class="short-username">{{shortUsername}}</p>
        {{/if}}
    </div>
    <div class="">
        <div class="user-card__username">{{username}}</div>
        <div class="user-card__subscribers" id="{{username}}-subscribers">{{subscribers}}</div>
    </div>
</div>
<div class="user-card__about">{{about}}</div>
<button class="user-card__subscribe-button" id="subscribe-{{username}}">Подписаться</button>